.sec-title {
    @include flex-sb-c;
    padding: 3vw 4vw 1.5vw;

    &__title {
        font-weight:bold;
        font-size: $text-main;
        position: relative;
    };
    &__title::before {
        content: '';
        border-radius: 2px;
        background: $el-aquamarin-main;
        width: 3px;
        height: 40px;
        position: absolute;
        left:-4vw;
    };

    &__btn-grup {
        @include flex-fe-c;
        gap: 32px;
    };
    &__btn {
        @include flex-fe-c;
        gap: 8px;
    };
    // &__btn-text {
    //     // пусто                 УДАЛИТЬ??
    // };
};

@media screen and (max-width: $screen-lg) {
    .sec-title {
        &__btn-grup {
            @include hide;
        }
    }
}