.navigate {
    padding-left: 3vw;

    &__list {
        @include flex-fs-c(0);
        scrollbar-width: none;
            -ms-overflow-width: none;
            &-webkit-scrollbar {
                display: none;
            };

        @media screen and (max-width: $screen-sm) {
            gap: 1vw;
            overflow: auto;    
        };
        @media screen and (min-width: $screen-sm) and (max-width: $screen-lg) {
            gap: 1vw;
            overflow: auto;
        };
        @media screen and (min-width: $screen-lg) {
            flex-wrap: wrap;
            gap: 0.5vw;
        };
    };
    &__list::after {
        content: '';
        @include fade(44px);
    };

    &__item {
        border: 2px solid transparent;
        transition: 150ms ease-in-out;
    };

    &__item:hover {
        border: 2px solid $el-aquamarin-light;
        border-radius: 6px;
        background: $bg-white;
    };

    &__link {
        color: #7e7e82;
        @include flex-fs-c(0);
        white-space: nowrap;

        @media screen and (max-width: $screen-sm) {
            padding: 1vw 5vw;
        };
        @media screen and (min-width: $screen-sm) and (max-width: $screen-lg) {
            padding: 1vw 2vw;
        };
        @media screen and (min-width: $screen-lg) {
            padding: 0.5vw 1vw;
        };
    };
};