.swiper-pagination-bullet{
    top:80px;
    width: 12px;
    height: 12px;
    background-color: #DDD;
}
.swiper-pagination-bullet-active {
    background: #B5B6BC;
 }

.swiper-paginationPrice, .swiper-paginationTech, .swiper-paginationBrands{
    display: flex;
    justify-content: center;
    @media (min-width: $screen-sm){
        display: none;
    }
}   

  .shown {
    max-height: none !important;
    overflow: visible !important;
  };

  .swiper-horizontal>.swiper-pagination-bullets {
    display: flex;
    align-items: flex-end;
    bottom: 0;
  }
