$font: "TT Lakes", sans-serif;

$bg-white: #FFF;
$bg-gray: #F8F8F8;
$g-lightgray: #EAEAEA;

$el-aquamarin:#D9FFF5;
$el-aquamarin-main: #41F6D7;
$el-aquamarin-light: #B8FFEC;

$text-black: #1B1C21;
$text-gray: #7E7E82;

$pink: #FF3E79;

$text-main: 28px;
$text-middle: 16px;
$text-low: 14px;

$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;